{% load static %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>成績管理サイト</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'grade:index' %}">成績管理サイト</a>

      {% if request.user.is_authenticated %}
        <span class="nav-text">{{ request.user.username }}でログイン中</span>
      {% endif %}

      <ul class="navbar-nav mr-auto">
        {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'grade:logout' %}">ログアウト</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'grade:login' %}">ログイン</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'grade:signup' %}">新規登録</a>
          </li>
        {% endif %}
      </ul>
    </nav>

    <div class="container">
      {% if request.user.is_authenticated %}
      {% for photo in photos %}
      {% if request.user.id == photo.teacher.id %}
        <h2>{{ photo.teacher }}</h2>
        <img src="{{ photo.image.url }}" class="photo-img" />
        <p>{{ photo.introduction }}</p>
      {% endif %}
      {% endfor %} 

    <a href="{% url 'grade:new_profile' user_id=user.id %}">プロフィール変更</a>
    {% endif %}
      </br>

      {% for message in messages %}
        <p class="message-success">{{ message }}</p>
      {% endfor %}

      {% block content %}{% endblock %}

      <h1><a href="{% url 'grade:new_board' %}">掲示板</a></h1>
    </div>
  </body>
</html>
