{% extends 'grade/base.html' %}
{% load widget_tweaks %}
{% block content %}

<h2 class="mt-4 mb-4">コメント</h2>
<form action="{% url 'grade:new_board' %}" method="POST" enctype="multipart/form-data" class="form-group mb-4">{% csrf_token %}
  <div class="form-group">
      <label>コメント</label>
      {{ form.comment|add_class:"form-control" }}
  </div>
  <button type="submit" class="btn btn-primary">保存</button>
</form>

{% for board in boards %}
  <div class="border-bottom mb-3 pb-3 overflow-hidden">
    <div class="">{{board.comment}}</div>
    <span class="text-black-50">written by {{board.user}}</span>
    <span class="text-black-50 ">{{board.date}}</span>
    {% if board.user == request.user %}
    <div class="float-right">
      <a href="{% url 'grade:delete_board' board_id=board.id %}">削除</a>
    </div>
    {% endif %}
  </div>
{% endfor %}


{% endblock %}