{% extends 'grade/base.html' %}
{% block content %}

<div class="form-group">
<form action="{% url 'grade:new_board' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
    <label>コメント</label>
    {{ form.comment }}
    <button type="submit" class="btn btn-primary">投稿</button>
</form>
</div>

{% for board in boards %}
<div class="form-group">
{{board.user}}
</div>
<div class="form-group">
{{board.comment}}
</div>
<div class="form-group">
{{board.date}}
</div>
{% if board.user == request.user %}
<form action="{% url 'grade:delete_board' board_id=board.id %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
  <button type="submit" class="btn btn-primary">削除</button>
</form>
{% endif %}
{% endfor %}


{% endblock %}