{% extends 'grade/base.html' %}
{% block content %}

<h1 class="mt-2">生徒ページ</h1>

{% if request.user.is_authenticated %}
    {% for photo in photos %}
        {% if request.user.id == photo.teacher.id %}
            <h2>{{ photo.teacher }}</h2>
            <img src="{{ photo.image.url }}" class="photo-img" />
            <p>{{ photo.introduction }}</p>
            <br />
        {% endif %}
    {% endfor %}
{% endif %}

<h2 class="mt-5">成績</h2>
<table class="table table-striped">
    <th>名前</th><th>英語</th><th>数学</th><th>国語</th><th>GPA</th>
    <tr>
        <td>{{ request.user.username }}</td>
        <td>{{ grade.english }}</td>
        <td>{{ grade.math }}</td>
        <td>{{ grade.japanese }}</td>
        <td>{{ grade.gpa }}</td>
    </tr>
</table>

<h2 class="mt-5">レポート課題</h2>
<table class="table table-striped">
    <th>タイトル</th><th>課題作成者</th><th>締め切り</th><th>提出</th>
    {% for not_submitted_problem in not_submitted_problems %}
        <tr>
            <td>
                <a href="{% url 'grade:new_report' report_problem_id=not_submitted_problem.id %}">
                    {{ not_submitted_problem.title }}
                </a>
            </td>
            <td>{{ not_submitted_problem.teacher }}</td>
            <td>{{ not_submitted_problem.deadline }}</td>
            <td>未提出</td>
        </tr>
    {% endfor %}
    {% for submitted_problem in submitted_problems %}
        <tr>
            <td>
                <a href="{% url 'grade:new_report' report_problem_id=submitted_problem.id %}">
                    {{ submitted_problem.title }}
                </a>
            </td>
            <td>{{ submitted_problem.teacher }}</td>
            <td>{{ submitted_problem.deadline }}</td>
            <td>提出済み</td>
        </tr>
    {% endfor %}
</table>

<h2 class="mt-5">提出したレポート</h2>
<table class="table table-striped">
    <th>提出者</th><th>課題タイトル</th><th>ファイル</th><th>提出日時</th>
    {% for report in reports %}
        <tr>
            <td>{{ report.student }}</td>
            <td>{{ report.report_problem.title }}</td>
            <td><a href="{{ report.report_file.url }}">{{ report.filename }}</a></td>
            <td>{{ report.report_problem.created_datetime }}</td>
        </tr>
    {% endfor %}
</table>

<h2 class="mt-5"><a href="{% url 'grade:new_board' %}">掲示板</a></h2>

{% endblock %}