{% extends 'grade/base.html' %}
{% block content %}

<div class="">
    <h2>{{ user.username }}さんの成績をつける</h2>

    <form action="{% url 'grade:update_grade' user_id=user.id %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <label>英語</label>
        {{ form.english }}
        <br />

        <label>数学</label>
        {{ form.math }}
        <br />

        <label>国語</label>
        {{ form.japanese }}
        <br />

        <button type="submit" class="">保存</button>
    </form>
</div>

{% endblock %}